<!-- Write HTML code here -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Table - Service Status</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/status/">All Groups</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
				{% if groups %}
				{% for g in groups %}
				<a class="nav-link" href={{g.url}}>{{g.name}}</a>
				{% endfor %}
				{% endif %}
            </div>
          </div>
        </div>
    </nav>
<div class="container">
{% if data %}
{% for i in data %}
<h2 class="text-center">{{i.name}}</h2><br>
<table class="table table-striped table-bordered">
	<thead class="thead-dark">
	<tr>
		<th>Service Name</th>
		<th>URL</th>
		<th>Method</th>
		<th>Service Status</th>
	</tr>
	</thead>
	<tbody>
    {% if i.services %}
	{% for j in i.services %}
	<tr>
		<td>{{j.name}}</td>
		<td>{{j.url}}</td>
		<td>{{j.method}}</td>
        {% if j.status  == "FAILED" %}
            <td style="color: red;">{{j.status}}</td>
        {% else %}
        <td style="color: green;">{{j.status}}</td>
        {% endif %}
	</tr>
	{% endfor %}
    {% endif %}
	</tbody>
</table>
{% endfor %}
{% endif %}
</div>

</body>
</html>
